<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31" >
        <activity
            android:name=".BookingTableActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
            android:name=".booking"
            android:exported="false" />
        <activity
            android:name=".TestBooking"
            android:exported="false" />
        <activity
            android:name=".Testing"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".StaffInformationActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerOrdered"
            android:exported="false" />
        <activity
            android:name=".AddTableActivity"
            android:exported="false" />
        <activity
            android:name=".ListCustomerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ListTypeFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ListStaffActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddProductsAcitivity"
            android:exported="false" />
        <activity
            android:name=".MotionLayout"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".toolbar_below"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".IntroActivity"
            android:exported="true" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="CLOUDINARY_URL"
                android:value="cloudinary://922262966345755:Vn8ehbvPvLc0eSb9WTaxJ8uutYo@da3nhk2m6" />
        </activity>
    </application>

</manifest>